# Environment variables / passwords
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

after_analysis.py